# Diretórios do Node.js
node_modules/

# Arquivos de dependências do Node.js
package-lock.json

# Arquivos de configuração do IDE
.vscode/

# Outros arquivos
*.log
*.tmp
*.bak

# Diretórios de testes
test/
src/test/

# Arquivos gerados
*.class
*.jar
*.war
*.ear